/* Importing Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

body {
  background: #f0f0f0;
}

header {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 1;
  /* Add z-index to control rendering order */
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
  /* Add z-index to control rendering order */
}



.navbar .logo {
  color: #fff;
  font-weight: 600;
  font-size: 2.1rem;
  text-decoration: none;
}

.navbar .logo span {
  color: burlywood;
}

.navbar .menu-links {
  display: flex;
  list-style: none;
  gap: 35px;
  align-items: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color: burlywood;
}


li .sign {
  padding: 10px 20px;
  background-color: transparent;
  outline: auto;
  outline-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #fff;
}

li .sign:hover {
  background-color: burlywood;
  outline: auto;
  color: #fff;
}

@media screen and (max-width: 768px) {
  /* ... (previous CSS rules for the menu and hamburger icon) ... */

  /* Style for the "Sign Up" button when inside the menu */
  .menu-links .sign {
    background-color: transparent;
    /* Remove background color */
    color: #000;
    /* Set text color to black */
    outline: 2px solid transparent;
    padding: 8px 16px;
    /* Adjust padding */
    border-radius: 25px;
    font-weight: bold;
    transition: color 0.3s ease, border-color 0.3s ease;
  }

  .menu-links .sign:hover {
    color: #fff;
    /* Change text color on hover */
    border-color: black;
    /* Change border color on hover */
    background-color: black;
  }
}

.hero-section {
  height: 100vh;
  background-image: url("img/wallpaperflare.com_wallpaper.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero-section .content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: #ffffff;
}

.hero-section .content h2 {
  font-size: 3rem;
  max-width: 600px;
  line-height: 70px;
}

.hero-section .content p {
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
}

.button {
  border-radius: 25px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px 0px 10px 0;
  outline: auto;
}

.button span {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar .logo {
    font-size: 1.7rem;
  }


  #hamburger-btn,
  #close-menu-btn {
    display: block;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: #fff;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }


  .navbar a {
    color: #000;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }


  .hero-section .content {
    text-align: center;
  }

  .hero-section .content :is(h2, p) {
    max-width: 100%;
  }

  .hero-section .content h2 {
    font-size: 2.3rem;
    line-height: 60px;
  }

  .hero-section .content button {
    padding: 9px 18px;
  }
}

/*Responsivve card*/

.res {
  margin-top: 40px;
  text-align: center;
  color: #131723;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 1250px;
  margin: 10px auto;
  padding: 20px;
  gap: 20px;
}

.card-list .card-item {
  background: #fff;
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

.card-list .card-item:hover {
  border: 2px solid burlywood;
}

.card-list .card-item img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 8px;
  object-fit: cover;
}

.card-list span {
  display: inline-block;
  background: #F7DFF5;
  margin-top: 32px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}

.card-list .developer {
  background-color: #F7DFF5;
  color: #B22485;
}

.card-list .designer {
  background-color: #d1e8ff;
  color: #2968a8;
}

.card-list .editor {
  background-color: #d6f8d6;
  color: #205c20;
}

.card-item h3 {
  color: #000;
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}

.card-item .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 40px;
  width: 40px;
  color: #000;
  border: 1px solid burlywood;
  border-radius: 50%;
  margin-top: 40px;
  transition: 0.2s ease;
}

.card-list .card-item:hover .arrow {
  background: burlywood;
  color: #fff;
}

@media (max-width: 1200px) {
  .card-list .card-item {
    padding: 15px;
  }
}

@media screen and (max-width: 980px) {
  .card-list {
    margin: 0 auto;
  }
}

/*Flip Card*/
.flip {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  display: flex;

}



.card {
  width: 350px;
  height: 515px;
  margin: 100px auto 0;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  backface-visibility: hidden;
  overflow: auto;
}

.front {
  background: url(img/user.jpg);
  background-size: cover;
  background-position: center;
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
}

.front h2 {
  font-weight: 500;
}

.front p {
  color: #ccc;
  font-size: 13px;
}

.front .bta {
  width: 120px;
  border: 1px solid #fff;
  background: transparent;
  border-radius: 50px;
  padding: 8px 20px;
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
}

.back {
  background: #fff;
  color: #333;
  padding: 20px 40px;
  transform: rotateY(180deg);
}

.back h1 {
  font-size: 50px;
  line-height: 55px;
  margin-bottom: 10px;
}

.back h1 span {
  font-weight: 400;
}

.back p {
  font-size: 14px;
}

.back p span {
  font-weight: 600;
}

.back img {
  width: 120px;
}

.row {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.col {
  flex: 1;
  text-align: center;
  color: #555;
  font-size: 12px;
  position: relative;
}

.col h2 {
  font-size: 20px;
}

.col::after {
  content: "";
  width: 1.5px;
  height: 20px;
  background: #131723;
  position: absolute;
  top: 5px;
  right: 0;
}

.col:last-child::after {
  display: none;
}

.col p {
  margin-top: 5px;
}

.back button {
  background: burlywood;
  color: #131723;
  border: 0;
  outline: 0;
  padding: 8px 25px;
  border-radius: 30px;
  font-size: 14px;
  margin-right: 15px;
  box-shadow: 0 8px 10px rgba(222, 184, 135, 0.3);
  transition: 0.3s;
}

.back button:hover {
  background-color: #131723;
  color: burlywood;
  cursor: pointer;
}

.back a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.back a img {
  width: 50%;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}


/* Media query for smaller screens (adjust the breakpoint as needed) */
@media (max-width: 768px) {
  .flip {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 768px) {
    .card {
      width: 90%; /* Adjust width as needed */
      margin: 50px auto; /* Center the card */
    }
  }

  .front,
  .back {
    width: 100%;
    height: auto;
  }

  .front {
    padding: 30px 20px;
  }

  .back {
    padding: 30px 20px;
  }

  .back button {
    padding: 8px 15px;
    font-size: 12px;
  }

}

/*footer*/
.footer-container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #2A292F;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: burlywood;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}